body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.header, .footer {
    background-color: #1f1f1f;
    padding: 40px;
    text-align: center;
}

.header h1, .footer p {
    margin: 0;
}

.header p {
    margin-top: 10px;
    font-size: 1.2em;
}

.section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #bb86fc;
    text-align: center;
}

.features, .commands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature, .command {
    background-color: #1f1f1f;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature:hover, .command:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.console-command {
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: #bb86fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

.center {
    text-align: center;
}

/* Duyurular bölümü için özel stiller */
.updates {
    background-color: #1f1f1f;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 768px) {
    .feature, .command {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .feature, .command {
        flex: 1 1 100%;
    }
}

h2.commands-title {
    width: 100%;
    text-align: center;
    color: #bb86fc;
    margin-top: 40px;
}
